@page "/colorpicker"

@using WebApp.Messages
@using WebApp.Services
@inject DeviceTwinService deviceTwinService
@inject IotDevicesService iotDeviceService
@inject ILogger<ColorPicker> logger
@inject IJSRuntime JsRuntime

<PageTitle>colorPicker</PageTitle>

<h3>Color Picker tool</h3>

@if (devices is not null)
{
    <ul>
        @foreach (var device in devices)
        {
            <li>@device</li>
        }
    </ul>
}

<div class="col-6 text-left align-middle pt-4 pl-5">
    <h4 class="my-4">Choose T-Shirt color</h4>
        <RadzenCard Class="mx-auto d-flex" Style="width: fit-content;">
            <div class="d-flex">
                <RadzenColorPicker @bind-Value=@color Change=@OnColorChanged ShowButton=true/>
                <RadzenLabel Text=@color Component="HSV" Style="margin-left: 8px; margin-right: 32px; vertical-align: middle;" />
            </div>
        </RadzenCard>
</div>


@code {
    string color = "";

    List<string>? devices;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            devices = await iotDeviceService.GetDevicesIdsAsync();
        }
        catch (Exception e)
        {
            logger.LogError(e, "Exception thrown on initializing color picker page");
        }
    }

    async Task OnColorChanged(string value)
    {
        var colorMessage = new ColorUpdateMessage { Color = value };

        if (devices is null)
        {
            logger.LogWarning("There is no devices to send the color update too!");
            return;
        }

        foreach (var device in devices)
        {
            try
            {
                await deviceTwinService.SendCouldToDeviceMessage(colorMessage, device);
            }
            catch (Exception e)
            {
                logger.LogError(e, "Exception thrown on changing the color of an device");
            }
        }
    }
}
