@inject ILogger<Counter> logger

@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        logger.LogInformation("This is information logger");
        logger.LogDebug("This is debug logger");
        logger.LogTrace("This is trace logger");
        logger.LogWarning("This is waring logger");
        logger.LogError(new Exception("test exception"), "This is an error log");
        logger.LogCritical("This is a critical log");
    }
}
