@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to blinkey project</h1>

<div class="row px-3">
    <div class="col-md-5 p-3">
        <Radzen.Blazor.RadzenCard>
            <p class="mb-2">Too see the source data for this project, please visit </p>
            <Radzen.Blazor.RadzenLink Path="https://github.com/jornpe/BlinkyProject" Text="Github" Target="_blank"/>
        </Radzen.Blazor.RadzenCard>
    </div>
</div>